/* src/App.css */
.App {
  display: flex;
}

.left-panel {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.right-panel {
  flex: 2;
  padding: 20px;
}

.statistics-panel, .sessions-panel, .session-detail {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
}
